<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div class="topnav-right" th:unless="${principal}" th:fragment="loginmenu">
    <a href="/login">Login</a>
</div>
<div class="topnav-right" th:unless="!${principal}" th:fragment="logoutmenu">
    <a href="/logout">Logout</a>
</div>
</body>
</html>