html {
    background-color: #F2E8DC;
    color: #401A04;
    font-family: 'Quicksand', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin-left: 0;
}
.homeBody{
    overflow: hidden;
    position: fixed;
}

h1{
    text-align: center;
}



/*NAV*/

.navigatieBar {
    width: 100%;
    border-bottom: #401A04 solid 2px;
    font-size: 2rem;
}

.linkNav {
    text-decoration: none;
    color: #401A04;
    margin-right: 35px;
}

.eersteLinkNav {
    margin-right: 625px;
    font-weight: bolder;
    margin-left: 10px;
}

/*KNOPPEN VERFPOTTEN LIJST*/

.verfpottenKnop {
    background-color: #F2D680;
    color: #401A04;
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 1px darkgrey;
    display: block;
    margin: 10px;
    width: 400px;
    font-size: 1.2em;
    padding: 1em;

}

.verfpottenKnop:hover {
    background-color: #F2C230;
}

.verfpottenKnop:active {
    background-color: #F2EA7E;
    color: #401A04;
}

.kleineKnop {
    background-color: white;
    color: #401A04;
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 1px darkgrey;
    margin-top: 10px;
}

.kleineKnop:hover {
    background-color: #401A04;
    color: white;
}

.filterButton {
    width: 2em;
    padding: 0.2em;
}

.verticalmargin{
    margin-bottom: 20px;
    margin-left: 40px;
}

.bodyVerfpotten{
    overflow: hidden; /* will contain if #first is longer than #second */
}

.filters{
    width: 500px;
    float:left; /* add this */
}

.verfpottenLijst{
    overflow: hidden;
    margin-left: 720px;
}

/*DETAILPAGINA*/

.row1 {
    margin: 100px 0 20px 0;
}

.row1content {
    margin: 0 50px;
}

div.info {
    width: 200px;
    display: inline-block;
    margin-left: 20px;
}

div.info + div {
    display: inline-block;
}

.detailTabel{
    margin-bottom: 20px;
}

.mediumKnop{
    background-color: white;
    color: #401A04;
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 1px darkgrey;
    padding: 0.5em;
    margin-left: 17px;

}

.mediumKnop:hover {
    background-color: #401A04;
    color: white;
}

/*BestelPagina*/

.bestelInput{
    width: 50%;
}

.bestelling{
    text-align: center;
}
