<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verfpotten</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/verfwinkel.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header">Hier komt de header</div>
<h1>Verfpotten!</h1>
<div class="verticalmargin">
    <span class="generalinfo" th:text="|${aantalPotten} verfpotten gevonden|">0 verfpotten gevonden</span>
</div>
<div class="filters" th:if="${showFilter}">
    <div class="verticalmargin">
        <a th:href="@{/verfpotten}" class="kleineKnop filterButton">Dicht</a>
        <form>
            <div class="onefilter">
                <input type="submit" value="search" class="kleineKnop">
            </div>
            <h3>Prijs: </h3>
            <div class="onefilter">
                <label for="minPrijs" class="filtername">Min</label>
                <input type="number" id="minPrijs" name="minimumPrijs" th:value="${minPrijs}" step="any"> <span>euro.</span>
            </div>
            <div class="onefilter">
                <label for="maxPrijs" class="filtername">Max</label>
                <input type="number" id="maxPrijs" name="maximumPrijs" th:value="${maxPrijs}" step="any"> <span>euro.</span>
            </div>
            <h3>Naam: </h3>
            <div class="onefilter">
                <label for="keyword" class="filtername">Keyword</label>
                <input type="text" id="keyword" name="keyword" th:value="${keyword}">
            </div>
            <h3>Ondergrond: </h3>
            <div class="onefilter">
                <label for="ondergrond" class="filtername">Ondergrond</label>
                <input type="text" id="ondergrond" name="ondergrond" th:value="${ondergrond}">
            </div>
        </form>
    </div>
</div>
<div class="filters" th:unless="${showFilter}">
    <div class="verticalmargin">
        <a th:href="@{/verfpotten/filter}" class="kleineKnop filterButton">Open</a>
    </div>
</div>
<article class="verfpottenLijst">
    <section th:each="pot: ${verfpotten}">
        <a class="verfpottenKnop" th:href="@{|/verfdetail/${pot.id}}">
            <p th:text="${pot.getNaam()}">Naam verfpot</p>
            <p th:text="${'€'} +  ${pot.getPrijs()}"></p>
        </a>
    </section>
</article>
</body>
</html>